  body {
    background-image: linear-gradient(to bottom, #ff6b6b, #386c5a);
  }
  
  .box {
    background-color: rgba(224, 254, 247, 0.5);
    width: 70vw;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 10px 15px #183634;
    text-align: center;
  }
  
  
  h1 {
    font-size: 52px;
    font-family: cursive, 'Times New Roman', sans-serif;
    margin: 0;
    padding-top: 30px;
    line-height: 1;
    text-align: center;
    color: #18362c;
  }

  p {
    font-family: 'Pacifico', cursive;
    font-size: 18px; 
    color: #283618 !important;
    text-align: center;
    margin: 0;
    padding: 30px;
    line-height: 1;
  }
  
  #factDisplay {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 20px;
    color: #283618;
    line-height: 0.8;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }
  
  /* Button */
  
.generateBtn {
  background-color: #606c38;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #ff583372;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  margin: 18px;
}
  
.generateBtn:hover {
  background-color: #ff583372;
  color:#283618;
}

.copyText {
  background-color: #606c38;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #ff583372;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

.copyText:hover {
  background-color: #ff583372;
  color: #283618;
}

#copied {
  font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #283618 !important;
    display: none;
}
